/.venv/
/.idea/
/deployments/create-employee-deployment/.aws-sam/
/deployments/get-employee-deployment/.aws-sam/
/deployments/delete-employee-deployment/.aws-sam/
/deployments/update-employee-deployment/.aws-sam/
/.pytest_cache/
.coverage
/tests/coverage/
/deployments/get-all-employees-deployment/.aws-sam/
